<div class="editor-container" [class.disabled]="isDisabled" [class.focused]="isFocused">
  <!-- Toolbar -->
  <div class="editor-toolbar">
    <button type="button" class="toolbar-btn" [class.active]="isFormatActive('bold')" (mousedown)="format('bold', $event)" title="Bold">
      <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
        <path d="M8 11h4.5a2.5 2.5 0 1 0 0-5H8v5zm0 7h5a2.5 2.5 0 1 0 0-5H8v5zM6 4h6.5a4.5 4.5 0 0 1 3.2 7.7A4.5 4.5 0 0 1 13.5 20H6V4z"/>
      </svg>
    </button>
    <button type="button" class="toolbar-btn" [class.active]="isFormatActive('italic')" (mousedown)="format('italic', $event)" title="Italic">
      <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
        <path d="M15 4h-4v2h1.76l-3.36 10H6v2h4v-2H8.24l3.36-10H15V4z"/>
      </svg>
    </button>
    <button type="button" class="toolbar-btn" [class.active]="isFormatActive('underline')" (mousedown)="format('underline', $event)" title="Underline">
      <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
        <path d="M8 3v9a4 4 0 1 0 8 0V3h2v9a6 6 0 1 1-12 0V3h2zm-4 17h16v2H4v-2z"/>
      </svg>
    </button>
    <button type="button" class="toolbar-btn" (mousedown)="format('insertUnorderedList', $event)" title="Bullet List">
      <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
        <path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5s1.5-.67 1.5-1.5S4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM8 17h14v-2H8v2zm0-4h14v-2H8v2zm0-5v2h14V8H8z"/>
      </svg>
    </button>
  </div>

  <!-- Editor Content -->
  <div 
    #editorContent
    class="editor-content"
    contenteditable="true"
    (input)="onInput()"
    (blur)="onBlur()"
    (focus)="onFocus()"
    (mouseup)="checkSelection()"
    (keyup)="checkSelection()">
  </div>
</div>
